docling==2.67.0
langchain==1.2.3
langchain_chroma==1.1.0
langchain_core==1.2.7
langchain_groq==1.1.1
langchain_huggingface==1.2.0
langchain_ollama==1.0.1
langchain_text_splitters==1.1.0
streamlit==1.52.2
